/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Normalization */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Custom properties */
:root {
    --custom-blue: #1992d4;
    --project-shadow-color: #f0b52c;
    --project-font-color: #6C6C6C;
    --main-content-background: #e2e8f0;
    --sidebar-font-color: white;
    --border-radius: 10px;
    --project-gap: 2ch;
    font-size: 16px;
    font-family: "Roboto";
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

/* SIDEBAR */

.sidebar {
    background-color: var(--custom-blue); 
    color: var(--sidebar-font-color);

    font-weight: bold;

    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    padding: 20px;
}

.logo {
    font-size: 1.5em;
}

.sidebar-group {
    padding: 0;
    gap: 10px;
}

.sidebar-element {
    display: flex;
    align-items: center;
    gap: 1ch;
    padding-bottom: 1lh;
}

.sidebar-element > svg {
    fill: var(--sidebar-font-color);
    height: 2ch;
}

/* HEADER */

.header {
    --horizontal-gap: 50px;
    grid-area: header;
    padding: var(--project-gap) var(--horizontal-gap);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--project-gap);
}

.search input {
    border: none;
    border-radius: 30px;
    background-color: var(--main-content-background);
    width: 70ch;
}

.notifications {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--project-gap);
}

.profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--project-gap);
}

.profile {
    display: flex;
    gap: var(--project-gap);
}


.profile .profile-picture {
    --size: 70px;
}

.salutation p {
    font-weight: bold;
    font-size: 0.8rem;
}

.publication-actions {
    display: flex;
    gap: var(--project-gap);
    align-items: center;
    justify-content: space-between;
}

.publication-actions > button {
    width: 120px;
    height: 50px;

    background-color: var(--custom-blue);
    color: white;
    font-weight: bold;

    border: none;
    border-radius: 25px;
}

/* MAIN CONTENT */
.main-content {
    background-color: var(--main-content-background);
    grid-area: main-content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "projects annoucements"
    "projects trendings";
}

.main-content > div {
    padding: var(--project-gap);
}

#project-container {
    grid-area: projects;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: var(--project-gap);
}

.project {
    position: relative;
}

.project::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: var(--border-radius);
    height: 100%;
    background-color: var(--project-shadow-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.main-info {
    background-color: white;
    border-radius: var(--border-radius);
    padding: var(--project-gap);
}

.main-info p {
    color: var(--project-font-color);
}

.project-buttons {
    display: flex;
    justify-content: end;
    gap: var(--project-gap);
    padding: var(--project-gap) var(--project-gap) 0;
}

.button-icon {
    --side-size: 35px;

    background: none;
    border: none;
    height: var(--side-size);
    width: var(--side-size);
}

#annoucement-container {
    grid-area: annoucements;
}

.annoucement-wrapper > div {
    font-size: 0.8rem;
    padding: 1lh 1ch;
    border-bottom: 1px solid lightgrey;
}

.annoucement-wrapper > div:last-child {
    border: none;
}

#trending-container {
    grid-area: trendings;
}

.trending-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--project-gap);
}

.trending-wrapper > div {
    display: flex;
    align-items: center;
    gap: var(--project-gap);
}

.trending-wrapper .tag {
    color: black;
    font-weight: bold;
}

.profile-picture {
    --size: 60px;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    object-fit: cover;
}
